.better-properties-menu-item-note {
	font-size: 0.8;
	color: var(--text-muted);
}

.better-properties-text-error {
	color: var(--text-error);
}

.better-properties-flex-center {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.better-properties-w-fit {
	width: fit-content;
}

.better-properties-inline-flex {
	display: inline-flex;
}

.better-properties-slider-label-start,
.better-properties-slider-label-end {
	color: var(--text-muted);
	--padding: var(--size-2-2);
}

.better-properties-slider-label-start {
	padding-inline-end: var(--padding);
}
.better-properties-slider-label-end {
	padding-inline-start: var(--padding);
}

.metadata-input-longtext:has(input.slider) {
	overflow-y: visible;
}

.better-properties-number-plus-plus {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: var(--size-2-2);
}

.better-properties-setting-nested-heading,
.setting-item:first-child.better-properties-setting-nested-heading {
	padding: var(--size-4-3);
	border-radius: var(--radius-s);

	&:hover {
		background-color: var(--interactive-hover);
		cursor: pointer;
	}
}

.better-properties-setting-nested-content {
	padding-left: var(--size-4-3);
}

.better-properties-setting-nested-content div.setting-item-heading {
	margin-top: 0;
}

div.better-properties-metadata-property-markdown-div {
	width: 100%;

	& .markdown-source-view.mod-cm6.is-readable-line-width .cm-content {
		width: unset !important;
	}

	& div.cm-gutters {
		display: none !important;
	}
	& div.cm-scroller {
		overflow: visible;
	}

	& .cm-line:not(.HyperMD-codeblock),
	& .cm-content {
		max-width: none !important;
		/* width: fit-content !important; */
		width: 100% !important;
		line-height: inherit !important;
		display: inline-block;
		padding-inline: 1.5px; /* makes cursor/caret indicator visible at start of line */
	}
	& div[role="textbox"] {
		/* width: fit-content; */
		/* width: 100% !important; */
		text-wrap: wrap;
		white-space: pre-line;
		display: inline-flex;
		flex-direction: column;
	}
	& * {
		text-align: inherit;
		/* width: 100% !important; */
	}
}

.metadata-property:has([data-better-properties-hidden="true"]) {
	display: var(--better-properties-hidden) !important;
}

.better-properties-property-settings-button-container {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.better-properties-svg-fill svg {
	fill: currentColor;
}

.metadata-input-longtext.better-properties-dropdown-container {
	display: inline-flex;
}

input.better-properties-dropdown-setting-input {
	width: 100%;
	max-width: none;
}

.better-properties-inline-property-widget {
	min-height: 1lh;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-inline: var(--size-4-2);
	padding-top: var(--size-2-1);
	padding-bottom: var(--size-2-1);
	& .setting-progress-bar {
		min-width: 100px;
	}

	& .multi-select-pill {
		text-wrap: nowrap;
		& .multi-select-pill-content {
			text-overflow: unset;
		}
	}
}

/* Not prefixed because it is meant to users to be able to easily use */
.metadata-property-widget {
	border: 1px var(--background-modifier-border) solid;
	border-radius: var(--radius-s);
	background-color: var(--background-secondary);

	& .metadata-input-longtext {
		padding: 0;
	}
}

.metadata-property-value {
	& .setting-progress-bar {
		width: 100px;
	}

	&:has(.setting-progress-bar) {
		padding: var(--size-4-1) var(--size-4-2);
	}
}

.better-properties-progress-inp-container {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	& input.metadata-input.metadata-input-number[type="number"] {
		padding: 0;
		height: fit-content;
	}
}

.better-properties-progress-input {
	width: 3ch;
}

.better-properties-progress-percent {
	/* position: absolute; */
	/* right: 0.75ch; */
	color: var(--text-muted);
}

.better-properties-progress-container {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: var(--size-4-1);

	& .metadata-input-number:first-child {
		padding-left: 0;
	}
	& .metadata-input-number:last-child {
		padding-right: 0;
	}
}

.better-properties-time-container {
	& input[type="time"] {
		border: none;
		border-radius: 0;
	}
}

input[type="time"]::-webkit-calendar-picker-indicator {
	opacity: 0.5;
	margin: 0;
}

.better-properties-group-container {
	padding: 2px;
}

.better-properties-background-fade {
	background-color: #ffb3f5; /* Pick any color you like, queen! */
	animation: betterPropertiesfadeOutBackground 0.75s ease forwards; /* Adjust duration here */
}

@keyframes betterPropertiesfadeOutBackground {
	0% {
		background-color: var(--interactive-hover); /* Same color as above */
	}
	100% {
		background-color: unset;
	}
}

.better-properties-text-list-component-input {
	width: 100%;
}

/* Recreation of built in table vertical drag target */
.better-properties-list-drag-target {
	transform: translateY(-1px);
	height: 3px;
	position: absolute;
	border-radius: 2px;
	background-color: var(--interactive-accent);
	z-index: calc(var(--layer-modal) + 1);
}

.better-properties-dragging-origin {
	opacity: 0.5;
}

.setting-item.better-properties-text-list-setting-container {
	flex-direction: column;
	align-items: unset;
}
