.better-properties-property-value-inner {
	&.better-properties-mod-dropdown {
		padding: var(--size-2-2);
		display: flex;
		justify-content: center;
		align-items: center;
		gap: var(--size-4-1);
	}
}

.metadata-property:has(.dropdown) {
	--input-radius: unset;
}

div.setting-item.better-properties-list-setting {
	flex-direction: column;
	align-items: start;
	--item-width: 100%;

	& > div.setting-item-control {
		width: 100%;
		flex-direction: column;
		align-items: start;

		& > .better-properties-list-setting-items-container {
			width: var(--item-width);
			margin-inline-start: auto;

			& input,
			div.search-input-container {
				width: 100%;
			}

			& .setting-item[data-is-dragged="true"] {
				opacity: 0.5;
			}

			& .setting-item[data-dragged-over]:not([data-is-dragged="true"]) {
				/* border-top: 2px solid var(--interactive-accent); */
				/* box-shadow: inset 0px 4px 0px 0px var(--interactive-accent); */
				position: relative;
				&::after {
					content: "";
					position: absolute;
					width: 100%;
					height: 2px;
					background-color: var(--interactive-accent);
				}
				&[data-dragged-over="top"]::after {
					top: 0;
				}
				&[data-dragged-over="bottom"]::after {
					bottom: 0;
				}
			}
		}

		& > .better-properties-list-setting-footer {
			margin-inline-start: auto;
			display: flex;
			align-items: center;
			gap: var(--size-4-2);
		}
	}
}

.vertical-tab-nav-item {
	&.better-properties-mod-unsupported {
		color: var(--text-muted);
		text-decoration: line-through;
	}

	&.better-properties-mod-active {
		text-decoration: underline;
		text-underline-offset: 2px;
	}
}

.better-properties-mod-w-full {
	width: 100%;
}

.better-properties-validity {
	&[data-is-valid="true"] {
		color: var(--text-success);
	}
	&[data-is-valid="false"] {
		color: var(--text-error);
	}
}

.better-properties-dropown-property-value {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--size-2-2);

	/* & .better-properties-dropdown-link-button {
		display: inline-flex;
	} */
}

.better-properties-mod-warning {
	display: flex;
	align-items: start;
	gap: 1ch;
	color: var(--text-warning);
}

.multi-select-container {
	--width: 40ch;
	.setting-item-control > & {
		width: var(--width);
	}

	& .multi-select-input {
		padding: var(--pill-padding-y) 0;
		text-align: start;
	}
}

div.metadata-content {
	&[data-better-properties-show-hidden="false"]
		> div.metadata-properties
		> div.metadata-property[data-better-properties-hidden="true"] {
		display: none;
	}

	& > div.metadata-properties {
		position: relative;
		& > .better-properties-label-width-resizer {
			position: absolute;
			height: 100%;
			width: 4px;
			background-color: transparent;
			top: 0;
			left: 0;
			transform: translateX(var(--metadata-label-width));

			&:hover::after {
				background-color: hsl(var(--accent-h) var(--accent-s) var(--accent-l));
			}

			&::after {
				position: absolute;
				content: "";
				height: 100%;
				width: 1px;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

.better-properties-drag-overlay {
	position: fixed;
	inset: 0;
	background-color: transparent;
}
